body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/********************** Footer Styles *****************************/

footer {
  display: flex;
  justify-content: space-evenly;
  height: 4rem;
  background-color: #7fbf7c;
  padding: 1% 4% 0 4%;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

footer a {
  margin-right: 2rem;
  text-decoration: none;
  color: darkgreen;
}

footer a:hover{
  color: #fff;
}

/*********************** HomePage Styles ************************/

.home-container {
  background-image: url('./images/homebg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 78.5vh;
  width: 100vw;
  margin-bottom: 1rem;
}

.home-button, Button {
  padding: 1.5%;
  margin: auto;
  background-color: #7fbf7c;
  color: #fff;
  border: 1px solid white;
  text-decoration: none;
}

.home-text, .home-details, .home-button {
  width: 33%;
  margin: 0 auto;
  color: darkgreen;
}

.home-button, #home-btn {
  width: 5%;
  color: darkgreen;
  border-radius: 15%;
  text-align: center;
  text-decoration: none;
  
}

#home-btn:hover {
  color: white;
}

.home-text h1 {
  font-size: 6rem;
  text-shadow: 1px 1px #000;
}