body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/********************** Footer Styles *****************************/

footer {
  display: flex;
  justify-content: space-evenly;
  height: 4rem;
  background-color: #7fbf7c;
  padding: 1% 4% 0 4%;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

footer a {
  margin-right: 2rem;
  text-decoration: none;
  color: darkgreen;
}

footer a:hover {
  color: #fff;
}

/*********************** HomePage Styles ************************/

.home-container {
  background-image: url("./images/homebg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 78.5vh;
  width: 100vw;
  margin-bottom: 1rem;
}

.home-button,
Button {
  padding: 1.5%;
  margin: auto;
  background-color: #7fbf7c;
  color: #fff;
  border: 1px solid white;
  text-decoration: none;
}

.home-text,
.home-details,
.home-button {
  width: 33%;
  margin: 0 auto;
  color: darkgreen;
}

.home-button,
#home-btn {
  width: 5%;
  color: darkgreen;
  border-radius: 15%;
  text-align: center;
  text-decoration: none;
}

#home-btn:hover {
  color: white;
}

.home-text h1 {
  font-size: 6rem;
  text-shadow: 1px 1px #000;
}

/****************** Team Page Styles *****************/

.team-background {
  background-image: url("./images/teampagebg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 78.5vh;
  width: 100vw;
}

.team-container {
  display: flex;
  justify-content: space-evenly;
}

.team-member {
  margin-right: 5rem;
}

.team-member img {
  object-fit: cover;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  padding: 2%;
  margin-right: 5%;
}

.member-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #000;
  font-size: 20px;
}

.github-icon {
  color: #000;
}

.team {
  text-align: center;
  padding: 3%;
  font-size: 30px;
  color: darkgreen;
}

/****************** Add Plant Page Styles *******************/

.form-container {
  height: 78.5vh;
  width: 99.1vw;
  background-image: url("./images/plantwall-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-title,
.form-group {
  text-align: center;
  color: darkgreen;
  text-shadow: 1px 1px #000;
}

.form-title h1 {
  font-size: 5rem;
}

.form-group {
  font-size: 2rem;
}

.submit {
  margin-top: 3%;
}

#submit-login {
  color: darkgreen;
  font-size: 20px;
}

#submit-login:hover {
  color: #fff;
}

/****************** Plants Page Styles ***********************/

.plantlist-container {
  background-image: url("./images/houseplants3-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 1px 1px #000;
  height: 78.5vh;
  width: 99.9vw;
}

#my-plants {
  color: lime;
  text-align: center;
  padding: 5%;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 5% 5% 15%;
}

#add-plant-item {
  text-align: center;
  height: 325px;
  width: 325px;
}

#add-plant-item a {
  text-decoration: none;
  color: lime;
}

#add-plant-item h2 {
  font-size: 5rem;
}

#add-plant-item p {
  font-size: 2rem;
}
